<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="#" alt="MentorX" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="#">Dashboard 1</a>
                        </li>
                        <li>
                            <a href="#">Dashboard 2</a>
                        </li>
                        <li>
                            <a href="#">Dashboard 3</a>
                        </li>
                        <li>
                            <a href="#">Dashboard 4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class=""></i>Home</a>
                </li>
                <li>
                    <a href="#">
                        <i class=""></i>Tables</a>
                </li>
                <li>
                    <a href="#">
                        <i class=""></i>Forms</a>
                </li>
                <li>
                    <a href="#">
                        <i class=""></i>Payments</a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-map-marker-alt"></i>Maps</a>
                </li>

  
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->


