<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Services</h6>
                <ul class="footer-links">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/development">Development</a></li>
                    <li><a href="/collaboration"> Collaboration</a></li>
                    <li><a href="/partners">Partners</a></li>
                    <li><a href="/team">Our Team</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                    <li><a href="/policy">Privacy Policy</a></li>
                    <li><a href="/testimonials">Testimonials</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2019
                    <a href="#">mentorX</a>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>