<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"></div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">mentorX</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find Mentor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Be Mentor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="#" routerLink="./register">Register</a>
            </li> -->
        </ul>
    </div>
</nav>
<!-- Navbar -->

<div class="sidenav">
    <div class="register-main-text">
        <h2>MentorX<br /></h2>
        <p>The new way to find mentors, and Be one.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="register-form">
            <br />
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="firstname" placeholder="First Name" />
                    <div *ngIf="submitted && registerForm.controls.firstname.errors" class="error">
                        <div *ngIf="registerForm.controls.firstname.errors.required">
                            Firstname is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name" />
                    <div *ngIf="submitted && registerForm.controls.lastname.errors" class="error">
                        <div *ngIf="registerForm.controls.lastname.errors.required">
                            Lastname is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" formControlName="contact" placeholder="Contact" />
                    <div *ngIf="submitted && registerForm.controls.contact.errors" class="error">
                        <div *ngIf="registerForm.controls.contact.errors.required">
                            Contact is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" />
                    <div *ngIf="submitted && registerForm.controls.email.errors" class="error">
                        <div *ngIf="registerForm.controls.email.errors.required">
                            Email is required
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                    <div *ngIf="submitted && registerForm.controls.password.errors" class="error">
                        <div *ngIf="registerForm.controls.password.errors.required">
                            Password is required
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-black">Register</button>
                <div *ngIf="invalidLogin" class="error">
                    <div>Invalid credentials.</div>
                </div>
                <p>Already have a account? <a href="./login" style="color: black;"><b>Login </b></a> </p>
            </form>
        </div>
    </div>
</div>