<!-- Navbar -->
<app-home-navbar></app-home-navbar>
<!-- Navbar -->


<!--Carousel-->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="../../../assets/images/img-6.jpg" alt="img-6" width="1100" height="500">
            <div class="carousel-caption">
                <h3> Hacking </h3>
                <p> Secure the unsecure. </p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="../../../assets/images/img-5.jpg" alt="img-5" width="1100" height="500">
            <div class="carousel-caption">
                <h3> Photography </h3>
                <p> Join Us to play with the lights. </p>
            </div>
        </div>

        <div class="carousel-item ">
            <img src="../../../assets/images/img-1.jpeg" alt="img-1" width="1100" height="500">
            <div class="carousel-caption">
                <h3 style="color: black">Drones & AI </h3>
                <p style="color: black">Want to know more ? </p>
                <p style="color: black">Let's get back to the future.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/img-2.jpg" alt="img-2" width="1100" height="500">
            <div class="carousel-caption">
                <h3> Music </h3>
                <p>Want to know more ? tune in . </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/img-3.jpg" alt="img-3" width="1100" height="500">
            <div class="carousel-caption">
                <h3> World </h3>
                <p>Want to know more about our world history ? </p>
                <p> Hop in the time machine . </p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/img-4.jpg" alt="img-4" width="1100" height="500">
            <div class="carousel-caption">
                <h3> Astronomy </h3>
                <p>Let's explore the universe . </p>
            </div>
        </div>


    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<!--Carousel-->

<!-- Content-->
<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Find rewarding projects</h4>
            <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
            <p class="text-muted">Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we’ll highlight ideal jobs. Also search projects, and respond to client invitations. Wide variety
                and high pay. Clients are now posting jobs in hundreds of skill categories, paying top price for great work. More and more success. The greater the success you have on projects, the more likely you are to get hired by clients that use
                GetLance.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Get hired quickly</h4>
            <h4 class="subheading">GetLance makes it easy to connect with clients and begin doing great work.</h4>
            <p class="text-muted">Streamlined hiring. GetLance’s sophisticated algorithms highlight projects you’re a great fit for. Top Rated and Rising Talent programs. Enjoy higher visibility with the added status of prestigious programs. Do substantial work with top clients.
                GetLance pricing encourages freelancers to use GetLance for repeat relationships with their clients.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Work efficiently, effectively.</h4>
            <h4 class="subheading">With GetLance, you have the freedom and flexibility to control when, where, and how you work. Each project includes an online workspace shared by you and your client, allowing you to:</h4>
            <p class="text-muted">Send and receive files. Deliver digital assets in a secure environment. Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video. Use our mobile app. Many features can be accessed on your mobile phone when
                on the go.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Get paid on time</h4>
            <h4 class="subheading">All projects include GetLance Payment Protection — helping ensure that you get paid for all work successfully completed through the freelancing website.</h4>
            <p class="text-muted">All invoices and payments happen through GetLance. Count on a simple and streamlined process. Hourly and fixed-price projects. For hourly work, submit timesheets through GetLance. For fixed-price jobs, set milestones and funds are released
                via GetLance escrow features. Multiple payment options. Choose a payment method that works best for you, from direct deposit or PayPal to wire transfer and more.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
</div>

<!-- Content-->

<!--NewsLetter-->
<app-newsletter></app-newsletter>
<!--NewsLetter-->


<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->