<!-- Navbar -->
<app-home-navbar></app-home-navbar>

<!--Company-->

<div class="container-fluid">
    <img src="../../../assets/images/home.jpg" alt="home" style="width: 100%;height: 20%;">
    <div class="centered">
        <h1 style="color: cornsilk">MentorX</h1>
        <p style="color: cornsilk">The new way to find mentors, and Be one.</p>
    </div>
</div>


<!--Company-->



<!-- Page Content -->
<section class="py-5 text-center">
    <div class="container">
        <h2 class="text-center"> Services</h2>
        <p class="text-muted mb-5 text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-magic-wand"></use>
          </svg>
                <h6>Blog</h6>
                <p class="text-muted">Ex cupidatat eu officia consequat incididunt labore occaecat ut veniam labore et cillum id et.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-heart"></use>
          </svg>
                <h6>Resources </h6>
                <p class="text-muted">Tempor aute occaecat pariatur esse aute amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-rocket"></use>
          </svg>
                <h6>Competitions </h6>
                <p class="text-muted">Voluptate ex irure ipsum ipsum ullamco ipsum reprehenderit non ut mollit commodo.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-paperclip"></use>
          </svg>
                <h6>Projects</h6>
                <p class="text-muted">Tempor commodo nostrud ex Lorem occaecat duis occaecat minim.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-screen"></use>
          </svg>
                <h6>Career</h6>
                <p class="text-muted">Et fugiat sint occaecat voluptate incididunt anim nostrud ea cillum cillum consequat.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
            <use xlink:href="#lnr-inbox"></use>
          </svg>
                <h6>Partners</h6>
                <p class="text-muted">Et labore tempor et adipisicing dolor.</p>
            </div>
        </div>
    </div>
</section>

<!--NewsLetter-->
<app-newsletter></app-newsletter>
<!--NewsLetter-->


<!-- Footer -->

<app-footer></app-footer>

<!-- Footer -->0