<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse  order-1 order-md-0 dual-collapse2"></div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">mentorX</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Find Mentor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Be Mentor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Navbar -->

<!-- Company -->
<div class="jumbotron text-center">
    <h1>MentorX</h1>
    <p>The new way to find mentors, and Be one.</p>
</div>
<!-- Company -->

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Customers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
    </div>
</div>
<!-- Content -->